body{
    margin: 0;padding: 0;
    background-color: rgb(237, 104, 195);
    color: black;
    box-sizing: border-box;
}
nav{
    margin: 0;padding: 0;
}
ul{
    margin: 0% 0;
    padding: 20px 15px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: fuchsia;

}
.brand_name{
    margin: 0px 50px 0 0;
    font-size: 38px;
    font-family: fantasy;
    letter-spacing: 1px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

.link{
    background-color: fuchsia;
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid silver;
    letter-spacing: 1.8px;
    font-family: sans-serif;
    cursor: pointer;
}
.link:hover{
    font-size: 21px;
    color: white;
    border-bottom: 3px solid skyblue;
    background-color: rgb(216, 14, 216);
}
.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 10px;
    padding: 20px;

}
button{
    margin: 0px 20px;
    border-bottom:  5px solid silver;
    background-color: skyblue;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px 10px;

}
h1{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
.modal{
    border: 5px solid blue;
    margin: 10px 0;
    border-radius: 20px;
    position: fixed;
    left: 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: 60vh;
    padding: 0px 10px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: skyblue;

}
.modal button{
    position: relative;
    left: 25rem;
    border: none;
    cursor: pointer;

}